# Next.js
.next/
out/
build/

# Produção
.env
.env.local
.env.production
.env.production.local

# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vários
.DS_Store
*.pem
